.lm-miniPaintPanel {
	display: -ms-grid;
	display: grid;
	margin: 0;
	position: absolute;
	/* dont change it, vh does not work on mobiles with bottom footer */
	top: 30px;
	right: 0;
	left: 0;
	bottom: 5px;
	height: auto;
	overflow: hidden;

	-ms-grid-rows: auto 1fr;
	grid-template-rows: auto 1fr;
	-ms-grid-columns: auto 1fr auto;
	grid-template-columns: auto 1fr auto;

	grid-template-areas:
		"submenu submenu submenu"
		"sidebar_left main sidebar_right";
}
