html, body
{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

*, *::before, *::after
{
    box-sizing: border-box;
    outline: none;
    box-shadow: none;
    font-family: inherit;
}

#main-body
{
    flex-basis: 100%;
}

#editor-container
{
    flex: 1 1 auto;
    flex-basis: calc(50% - 54px);
    min-height: 0;
}

#engine
{
    flex-basis: 50%;
}

#editor-wrapper,
#engine
{
    overflow:hidden;
    scroll-margin-top: 100vh;
}

#editor
{
    flex: 1 1 auto;
    flex-basis: 100%;
    min-height: 0;
}

.panel-row
{
    display:flex;
    flex-direction: row;
}

.panel-column
{
    display:flex;
    flex-direction: column;
}

*[id]
{
    scroll-margin-top: 100vh;
}

#filelist
{
    overflow: scroll;
}

#main
{
    height: 100vh;
    max-height: calc(100vh);
    overflow: hidden;
}

#main > * {
    flex-shrink: 1;
    flex-grow: 1;
    min-height: 0;
}

#statusbar > *
{
    flex-basis: 50%;
}

#statusbar
{
    display:flex;
    flex-direction: row;
    justify-content: stretch;
}


#tabs
{
    width: 54px;
}


#statusbar,
#toolbar
{
    flex-shrink: 0;
}

#terminal
{
    flex: 1 1 auto;
    flex-basis: 400px;
    min-height: 0;
}

.treejs-label
{
    align-items: center;
}

#filelist .treejs > .treejs-nodes
{
    padding:10px;
    margin:0;
}

.treejs-label::before {
    font-family: 'boxicons' !important;
    content: "\f413"; /* Boxicons 'file' code */
    color: #555;
    position: relative;
    top: 3px;
    padding-right: 4px;
}

input,
select,
button
{
    border: 2px solid #666;
    background: white;
    padding: 3px;
    margin: 0;
}



#statusbar
{
    background-color: #666;
}



#toolbar input,
#toolbar select,
#toolbar button
{
    margin: 3px 5px;
}


.treejs-node__checked
{
    background: #ccc;
}

#tabs ul
{
    display:flex;
    flex-direction: column;
}

#toolbar ul
{
    display:flex;
    flex-direction: row;
}

#toolbar ul,
#toolbar li,
#tabs ul,
#tabs li {
    list-style: none;
    margin:0;
    padding:0;
}

#toolbar a {
    text-decoration: none;
    color:#666;
    padding: 3px 5px;
    font-size: 24px;
}

#tabs a {
    text-decoration: none;
    color:#666;
    padding: 5px 10px;
    font-size: 32px;
    border-left:2px solid transparent;
}


#tabs a.active,
#toolbar a.active,
#tabs a:active,
#toolbar a:active,
#tabs a:hover,
#toolbar a:hover {
    background: rgba(0,0,0,.1)
}


#tabs a.active,
#toolbar a.active,
#tabs a:active,
#toolbar a:active {
    border-left-color: #333;
}

#filelist .treejs .treejs-checkbox
{
    display:none;
}

  /* Folder Icon (When node has children) */
.treejs-node__close[data-extension="folder"] > .treejs-label::before
{
    content: "\f440"; /* Boxicons 'folder' code */
    color: #f1c40f;
}

.treejs-node__open[data-extension="folder"] > .treejs-label::before {
    content: "\f439"; /* Boxicons 'folder' code */
    color: #f1c40f;
}

/*
.treejs-node[data-extension="js"] .treejs-label::before {
   content: "\ea71";
   color: #f7df1e;
}
*/

#editor
{
    height: 100%;
    flex-basis: 100%;
}

[alt],
[data-tooltip] {
    position: relative;
    cursor: pointer;
}

#toolbar [alt]::after,
#toolbar [data-tooltip]::after
{
    top: 100%;
    bottom: auto;
}

[alt]::after,
[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 50%;
    /*left: max(10px, 50%);
    transform: translateX(-50%); */
    display:inline-block;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    font-size: 16px;
    z-index: 9999;
}

[alt]::after
{
    content: attr(alt);
}

[alt]:hover::after,
[data-tooltip]:hover::after {
    opacity: 1;
}

